#cabecalho {
	text-align: right;
	color: white;
	border-color: black;
	padding: 5px;
	background-color: #708090;
}

#corpo {
	padding: 5px;
/* 	background-color: #F8F8FF; */
	background-color: black;
}

h1 {
	font-family: sans-serif;
}

table {
	
}

